$primary-color: #a70000;
$form-width: 250px;

h1 {
  color: $primary-color;
}

.form-group {
  label {
    margin-bottom: 0px;
  }
  input: {
    font-size: 100px;
  }
}

form {
  width: $form-width;
}
